// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.signed-in{
  font-size: 14px;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  padding-top: 15px;
}